.SearchBar {
  background-image: url('./background_search_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25rem;
  font-family: 'Work Sans', sans-serif;
}

.SearchBar-sortOptions ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: white;
  font-weight: 600;
  border-bottom: white solid 1px;
  width: 50%;
  margin: auto;
  padding: 0;
  margin-bottom: 5%;
}

.SearchBar-sortOptions li:hover{
  color: #d4cfcf;
}

.SearchBar-sortOptions li{
  width: 80px;
  text-align: center;
  cursor: pointer;
}

.SearchBar-fields {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6%;
}

input {
  width: 45%;
  border: none;
  height: 40px;
  border-radius: 4px;
  color: #d4cfcf;
  font-weight: 600;
  font-size: 14px;
  padding-left: 25px;
}

.SearchBar-submit {
  text-align: center;
}
.SearchBar-submit a {
  background-color: #cca353;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 12px 25px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.SearchBar-submit a:hover {
  background-color: #a7874b;
}
